extends layout

block content
    div.container
        h1
            | Manage pages
        for page in pages
            p
                a(href="/admin/pages/edit/" + page.slug) #{page.slug}
        else
            p no pages available